# .env.example

# App
APP_ENV=development
DEBUG=true

# Server
HOST=0.0.0.0
PORT=8000

# db
POSTGRES_USER=pluggle_api_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=pluggle_api
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Allowed
ALLOWED_SOURCE_HOSTS=example.com,api.example.com

# Strategies
PLUGGLE_STRATEGIES_DIR=data/strategies
